
.top_container{
    display:flex;
    background-color: bisque;
    max-height: fit-content;
  }
  .left-section {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  .right-section {
    display: flex;
    align-items: center;
    margin-left: 45%;
  }
  
  .searchbar {
    margin-right: 7px; /* Adjust the margin as needed */
  }